/* Variables */

* {
    /* Colors */
    --accent: #1e90ff;
    --black: #333333;
    --default: #eaeaea;
    --highlight: #f44336;
    --white: #f8f8f8;
    
    /* Fonts */
    --darkfont: #333333af;
    --lightfont: #3333335f;

    /* Sizes */
    --animation: 0.15s;
	--font-size: 12pt;
    --margin: 0.6em;
    --double-margin: calc(var(--margin) * 2);
    --half-margin: calc(var(--margin) / 2);
}


/* General */

body {
    color: var(--black);
    display: flex;
    flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: var(--font-size);
}

header {
	background-color: var(--black);
	color: var(--white);
	font-size: calc(var(--font-size) * 2);
	padding: var(--margin);
}

main {
	background-color: var(--default);
	display: flex;
	flex-direction: column;
	padding: var(--margin);
}

footer {
	background-color: var(--black);
	color: var(--white);
	padding: var(--double-margin);
	text-align: center;
}


/* Main */

section {
	background-color: var(--white);
	border-radius: var(--border-radius);
	box-shadow: 0 2px 12px -2px rgba(0, 0, 0, 0.3);
    margin: var(--margin);
}

section, form {
	display: flex;
	flex-direction: column;
}

table {
	
}

thead {

}

tbody {

}

tr {
	margin-top: var(--margin);
}

th {
	font-weight: 500;
	padding: 0 var(--half-margin);
	white-space: nowrap;
}

td {
	text-align: center;
}

p {
	margin: 0;
}

.left-side {
	display: flex;
	flex-direction: column;
}

.first-row {
	display: flex;
	flex-direction: column;
}

.legend {
	box-shadow: 0 2px 12px -2px rgba(0, 0, 0, 0.3);
	display: flex;
	font-weight: 500;
	padding: var(--double-margin);
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.body {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	line-height: 18pt;
	padding: var(--double-margin);
}

.scrollable {
	overflow-x: auto;
}


/* Panels */

#inputs {
	
}

#controls {
	display: flex;
	margin-top: var(--double-margin);
}

#stats {
	
}

#cache, #ram {
	max-height: 768px;
}

#cache {

}

#ram {

}

#log {

}

.stat {
	display: flex;
	margin-bottom: var(--margin);
}


/* Inputs */

.input {
	display: flex;
	width: 100%;
}

.text {
	flex-direction: column;
}

.text label {
	margin-top: var(--margin);
}

.text input {
	background: none;
	border: none;
	border-bottom: 2px solid var(--lightfont);
	color: black;
	font-weight: 500;
	margin-top: var(--margin);
	margin-bottom: var(--double-margin);
	outline: none;
	padding: var(--margin) 0;
    transition: border-color var(--animation);
}

.text input:hover {
	border-bottom-color: var(--darkfont);
}

.text input:focus {
	border-bottom-color: var(--accent);
}

.text input::placeholder {
	color: var(--lightfont);
	font-weight: normal;
	transition: color var(--animation);
}

.text input:hover::placeholder, .text input:focus::placeholder {
	color: var(--darkfont);
}

.button {
	margin-right: var(--double-margin);
}

.button button {
	background-color: var(--white);
	border: none;
	box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.3);
	color: var(--black);
	cursor: pointer;
	outline: none;
	padding: var(--margin);
	transition: background-color var(--animation), color var(--animation), box-shadow var(--animation), transform var(--animation);
	user-select: none;
	white-space: nowrap;
	width: 100%;
}

.button button:hover,.button button:focus {
	background-color: var(--accent);
	color: var(--white);
}

.button button:active {
	transform: scale(0.95);
}

.warning button:hover {
	background-color: var(--highlight);
	color: var(--white);
}


/* Modifiers */

.bold {
	font-weight: 500;
}

.push {
	margin-left: auto;
}

.first {
	margin-left: 0;
	margin-top: 0;
}

.last {
	margin-right: 0;
	margin-bottom: 0;
}

.monospace {
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.accent {
	color: var(--accent);
}